In [1]:
import pandas as pd 
import numpy as np

In [2]:
df_orig = pd.read_excel('..\data\Evolytics Data Science Exercise.xlsx')
df_orig

,source_visitor_id,visit_num,First_Visit,date,min_timestamp_date,min_timestamp_time,max_timestamp,Recipe,purchase_flag,no_thanks_flag,...,Safari_Browser,SeaMonkey_Browser,Test2,landpage-hiking,landpage camping,landpage run,loyalty_user,landpage winter,SEO,SEM
0,5265991230000000000000000000000000000,254,0,2017-03-30,2017-03-30,13:56:52,2017-03-30 14:00:00,Recipe B | Upgrade Suggestive,1,1,...,1,0,1,0,0,0,False,0,0,1
1,5265991230000000000000000000000000000,218,0,2016-12-09,2016-12-09,13:11:32,2016-12-09 13:15:00,Recipe B | Upgrade Suggestive,1,1,...,1,0,1,0,0,0,False,0,0,1
2,5267850000000000000000000000000000000,1,1,2016-11-23,2016-11-23,13:53:07,2016-11-23 14:00:00,Recipe B | Upgrade Suggestive,1,1,...,0,0,1,0,0,0,False,0,1,0
3,5267860000000000000000000000000000000,1,1,2016-11-21,2016-11-21,11:05:09,2016-11-21 11:35:00,Recipe B | Upgrade Suggestive,1,1,...,0,0,1,0,0,0,False,0,1,0
4,5267870000000000000000000000000000000,2,0,2017-04-05,2017-04-05,07:34:11,2017-04-05 07:46:00,Recipe B | Upgrade Suggestive,1,1,...,1,0,1,0,0,0,False,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8613,5337932166667980000000000000000000000,2,0,2017-04-20,2017-04-20,01:22:24,2017-04-20 01:29:00,Recipe B | Upgrade Suggestive,0,0,...,0,0,1,0,0,0,False,0,0,1
8614,5337940333334640000000000000000000000,1,1,2017-04-19,2017-04-19,16:14:51,2017-04-19 16:24:00,Recipe B | Upgrade Suggestive,1,1,...,1,0,1,0,0,0,False,0,0,1
8615,5337948500001310000000000000000000000,1,1,2017-04-19,2017-04-19,17:48:18,2017-04-19 18:40:00,Recipe B | Upgrade Suggestive,0,0,...,0,0,1,0,0,0,False,0,1,0
8616,5337956666667980000000000000000000000,1,1,2017-04-19,2017-04-19,19:03:44,2017-04-19 19:16:00,Recipe B | Upgrade Suggestive,1,1,...,0,0,1,0,0,0,False,0,0,1
8617,5337964833334640000000000000000000000,2,0,2017-07-10,2017-07-10,08:31:04,2017-07-10 09:00:00,Recipe B | Upgrade Suggestive,1,0,...,0,0,1,0,0,0,False,0,1,0